div.section.section1
  div.content.top.right-5.width-40
    h1 Knowledge Keepers
    p
      |There isn't one of us who hasn't touched clay ... a pot, a porcelain cup, a
        plate. Each time we do, we are touching more many millennia of unbroken
        tradition.
    p
      |The clay-making tradition survives worldwide through the often overlooked
        efforts of 'knowledge keepers'...  craftsmen, scholars, artists and collectors.
        It was in Romania that I met some of them, individuals through whom ancient
        skills, wisdom, and beliefs remain alive, vibrant and useful.  The knowledge
        they are preserving stretches back to the beginnings of European civilization 8
        to 9,000 year back in time.
