$black: #111
$blue: #99d8de
$white: #fafafa

$font-size: 18px
$line-height: 1.4em

@mixin calluna
  font-family: "calluna", serif
@mixin gotham
  font-family: "proxima-nova", sans-serif

body
  +calluna
  font-size: $font-size
  margin: 0

h1, h2, h3
  +gotham

p
  margin-top: 0
  line-height: $line-height
  &.dropcap
    &:first-letter
      float: left
      font-size: $line-height * 2.15
      line-height: 0.6em
      padding: 7px 5px 0px 0
      text-transform: uppercase

span.dropcap
  float: left
  font-size: $line-height * 2.15
  line-height: 0.6em
  padding: 7px 5px 0px 0
  text-transform: uppercase

// navigation //////////////////////////////////////////////////////////////////
$nav-padding: 2em
$nav-height: 60px

div.navigation
  background: $black
  position: fixed
  right: 0px
  top: 0px
  width: 100%
  z-index: 1000

  #menu
    float: right

  h1
    +calluna
    font-size: 1.4em
    line-height: $nav-height
    margin: 0
    padding-left: $nav-padding
    text-transform: uppercase
    a
      color: $white
      text-decoration: none

  ul
    margin: 0
    padding-right: $nav-padding
  li
    display: inline
    &.active a
      color: $blue

    a
      color: $white
      display: inline-block
      font-size: 1.3em
      line-height: $nav-height
      text-decoration: none
      &:after
        content: '-'
        margin-left: 5px
      &:hover
        color: $blue
        &:after
          color: $white
      &.chapter9
        &:after
          content: ''

// content /////////////////////////////////////////////////////////////////////
div.content
  background: rgba(255, 255, 255, 0.95)
  &.center
    margin: 0 auto
  @for $width from 7 through 10
    &.width-#{$width}00
      max-width: 100px * $width
  @for $offset from 1 through 65
    &.offset-#{$offset}
      margin-left: 1% * $offset
  @for $width from 30 through 70
    &.width-#{$width}
      max-width: 1% * $width

div.content-centerer
  display: table-cell
  vertical-align: middle

div.content-padder
  padding: $nav-height 3em 0 3em

div.slide.video
  background: $black

div.title
  border-bottom: 1px solid $black
  margin-bottom: 1em
  padding-bottom: 5px

  h1
    font-size: 2.4em
  h1, h2, h3
    margin: 0
    text-transform: uppercase
  h3
    font-weight: normal
    font-size: 1.3em

p.title-credits
  +gotham
  font-size: 0.85em
  margin-top: -0.5em
  margin-bottom: 2em

// backgrounds//////////////////////////////////////////////////////////////////
@mixin fixed-background($url)
  background: url($url) no-repeat center center fixed
  background-size: cover

#section0
  +fixed-background('/images/chapter0.jpg')
#section2
  +fixed-background('/images/chapter2/1.jpg')

// http://css-tricks.com/perfect-full-page-background-image/
@for $chapter from 3 through 8
  @for $section from 1 through 3
    #section#{$chapter} #slide#{$section}
      +fixed-background('/images/chapter#{$chapter}/#{$section}.jpg')

#section5 #slide2,
#section6 #slide3
  background: none

// videos
#section3 #slide4,
#section4 #slide4,
#section5 #slide3,
#section6 #slide4,
#section7 #slide4,
#section8 #slide4
  background: black

// intro page arrow down
#intro-arrow
  color: rgba(255, 255, 255, 0.8)
  display: none
  font-size: 8em
  line-height: 1em
  position: absolute
  bottom: 0
  right: 50%

// tweak fullpage
$controlArrow-color: rgba(210, 210, 210, 0.7)
.controlArrow
  &.prev
    border-right-color: $controlArrow-color !important
    z-index: 9999
  &.next
    border-left-color: $controlArrow-color !important
    z-index: 9999

// tweak flowplayer
.flowplayer
  a.fp-embed,
  a.fp-fullscreen
    display: none

