div.slide#slide1 data-anchor="slide1"
  div.content.width-50
    div.content-centerer
      div.content-padder
        div.title
          h2 George Trohari:
          h3 Collector of the past
        p
          |In Bucharest, Romania's capital, I was introduced to George Trohari, already
            retired for five years from a 30-year career as an archeologist with the
            National Museum of Romania, an elegant columned neoclassical building in the
            old and recently revitalized old city center.
        p
          |Every working day he still returns to the museum for a few hours. Regularly, he
            hikes down a long hallway in the rear of the building, up a balky elevator, to
            a dimly lit, cavernous room. Here, his dedication becomes clear. On wooden
            shelves are rows upon rows of priceless artifacts from the past. Clay pottery
            from a variety of ancient cultures, including Cucuteni and Dacian, spans more
            than 8,000 years of history. As I survey the scene, I'm stunned by countless
            shelves of world-class Neolithic pottery, much more than can be displayed.
        p
          |To the scholars who work in the museum, the shelves are a living timeline of
            Romanian and early European civilization. I'm amazed at how practical many of
            the pieces are. They may be ancient, but they remain starkly contemporary in
            utility.

div.slide#slide2 data-anchor="slide2"
  div.content.width-35
    div.content-centerer
      div.content-padder
        p.dropcap
          |There's an ingenious small clay cooking stove with two small pots
            designed to be fitted to burner openings on the top. Another catches my
            attention, a strangely fashioned pitcher that still feels alive with the
            imagination of its creator; and a lidded storage vessel that would be useful in
            any kitchen nowadays.
        p
          |I'm astounded to discover that some of the oldest pots may even have led to the
            earliest smelting of metal. This would mean that pottery-making played a
            central in the opening the door to the iron-age. This science-based theory is
            based on the high degree of metallic elements in the clay, which would melted
            into formable material.

div.slide#slide3 data-anchor="slide3"
  div.content.width-45
    div.content-centerer
      div.content-padder
        p.dropcap
          |Trohari shows me several pieces from the museum's priceless trove to
            further my understanding of both Romania's past and its present. During his
            career, he has spent many weeks on archeological digs, where he made it a point
            of patiently sharing the history of the excavated pottery with local villagers.
            Often he saw a living connection in clay between past and present Romanian
            generations in ancestral objects still on the shelves in the homes of people he
            visited.
        p
          |His favorite piece in the museum's collection is a 2,000-year-old Dacian vase
            that he discovered shattered, His wife, a ceramics restorer, lovingly put it
            back together. The vase, in effect, became a work of both his family's and an
            anonymous ancient potter, symbolizing the bond that binds many to their clay
            culture origins.
        p
          |Even after all these years, Trohari explains to me, as he picks up the ancient
            pot: "The heart beats faster. I immediately think of the smell the clay and I
            smell the time of he Geato-Dacians.  It's a historic air and a history which
            continues today.”

div.slide#slide4 data-anchor="slide4"
  div.flowplayer.is-splash.minimalist
    video preload="none" poster="/videos/chapter7.jpg"
      source type="video/webm" src="#{@cloudfront_url}/videos/chapter7.webm"
      source type="video/mp4" src="#{@cloudfront_url}/videos/chapter7.mp4"
