div.slide#slide1 data-anchor="slide1"
  div.content.width-40
    div.content-padder
      div.title
        h2 Romeo Dumitrescu:
        h3 A 'lightning' spark
      p
        |There was a final insight I needed. The record of ancient knowledge is much
          like pottery itself. Over time, it can become broken, scattered, lost. To
          understand and appreciate it, we need individuals willing to seek out ancient
          pieces of the past and to see that they are saved for later generations. The
          more that are unearthed from the past, the greater the knowledge we carry with
          us into the future.
      p
        |This is how I found and met Romeo Dumitrescu, a doctor and successful
          businessman in Bucharest. He is an exceptional collector of Cucuteni pottery.
          At one time a collector of paintings, he came across his first piece of
          7,000-year-old Cucuteni pottery and found his true passion.
      p
        |"The first time I saw Cucuteni vases was only 14 years ago,” Dumitrescu
          recounted to me when me met in a large turn-of-the-century mansion restored
          into the City of Bucharest's official museum.
      p
        |"It was a lightning bolt.”

div.slide#slide2 data-anchor="slide2"
  div.content.width-40
    div.content-padder
      p.dropcap
        |That lightning bolt would propel him on a mission to gather as many
          pieces of the pottery as possible. Soon after he ended-up purchasing one of the
          largest Cucuteni sites, which had never been properly or fully explored, and
          hiring archaeologists and students to expand the dig under the direction of the
          Romanian Ministry of Culture. He created his own museum to display what he has
          collected and shared the collection with the City of Iasi in Moldavia.
      p
        |It was an expensive and lengthy project, stretching over twelve years. But what
          Dumitrescu's determination brought to light now enriches the world. More than
          6,000 Cucuteni pieces were discovered on his site and many restored. It is a
          vast collection illustrating connections between far-flung civilizations and
          reoccurring motifs inspired by the earliest moments of human artistic
          consciousness.

div.slide#slide3 data-anchor="slide3"
  div.content.offset-60.width-35
    div.content-padder
      p.dropcap
        |On this particular summer afternoon in Bucharest, Dumitrescu,
          elegantly dressed in a French suit, lingered over favorite pieces of his
          collection on exhibit at the city's museum. He described the still vibrant
          painted figures on funerary vases – snakes and wolves, goats and deer,
          creatures that clearly held spiritual meaning for Neolithic culture – and he
          pointed out the familiar and ubiquitous white spiral of life, "a symbol that is
          seen always, everywhere around the world.” He also pointed to designs that show
          up in later Persian pottery, possible evidence of the interconnectedness
          between the earliest human civilizations.
      p
        |Thanks to Dumitrescu's passion for clay pottery -especially Cucuteni -
          thousands of people can contemplate the enduring power and mystery of this
          ancient work. It's knowledge keeping as an act of public generosity, yet with
          an emotional cost.
      p
        |"I see these same pieces in catalogues of various exhibits,” he mentions
          nostalgically. "It touches my heart. But I miss them. It's like someone in the
          family who is no longer at home.”

div.slide#slide4 data-anchor="slide4"
  div.flowplayer.is-splash.minimalist
    video preload="none"
      source type="video/webm" src="http://stream.flowplayer.org/moon/640x360.webm"
      source type="video/mp4" src="http://stream.flowplayer.org/moon/640x360.mp4"
      source type="video/ogv" src="http://stream.flowplayer.org/moon/640x360.ogv"
