div.content.center.width-800
  div.title
    h2 Clay of the Past
    h3 And Tomorrow
  p
    |The virtue of enduring forms is that they reconnect us to the idea of
      permanence in an ever-evolving world.
  p
    |As the pace of change accelerates and as Romania and the rest of the globe
      plunge headlong into the future, the knowledge kept alive by keepers such as
      Pascaniuc, Magopat, Moldovan, Ghinoiu, Trohari and Dumitrescu serve as a
      touchstone that reminds us where we came from and lets us see more clearly who
      we are. They help us to understand what we need to hold on to as we move
      forward. The lesson can be found in the simplest things.
  p
    |"You see here, for example, a cup from Dacian times,” says Trohari, lifting a
      priceless piece of pottery. "It is a form that has lasted until today.” Sitting
      beside the ancient ceramics in the National History Museum's collection,
      Trohari continues, you see that "the decorations change . . . At the same time,
      the form stays almost the same until now.”
  p
    |The knowledge embodied in these works also gives us an idea of what we share
      with others. Ghinoiu and Trohari have both studied how symbology, decorative
      motifs and particular forms that appear in ancient Romanian clay work appear
      too in surrounding cultures from northern European to early Greek and Persian.
  p
    |"We have influenced others. Others have influenced us,” says Trohari as we end
      our conversation. "There are combined forms and decoration that are shared
      universally.”
  p
    |The knowledge these scholars, potters and collectors are quietly keeping alive
      is part of a larger heritage, one that recognizes the shared origins of human
      society, knowledge that, more than ever, remains a vital building block of our
      future. One that enters our daily life every time we touch a porcelain plate,
      bowl or pot.
