div.slide#slide1 data-anchor="slide1"
  div.content.width-35
    div.content-centerer
      div.content-padder
        div.title
          h2 Nicolae Moldovan:
          h3 The old inspires the new
        p
          |The older, nondescript one-story recycled building where Nicolae Moldovan keeps
            his studio stands in the shadow of a mammoth Communist-era apartment block in
            Bucharest. It's somehow an appropriate setting.  In Moldovan's work, the
            prehistoric and the modern co-exist in a way that brings new life to both.
        p
          |He tells me of his devotion to the Cucuteni method of making pots. Like those
            ancient potters, he doesn't even use a potter's wheel, fashioning each piece
            solely by hand.
        p
          |"I have been captivated by |the Cucuteni culture and the technique that was used
            to make this kind of pottery back in Neolithic times, since I was a student,”
            he says. "Feeling the clay in your hands is very important; this is what I
            enjoyed the most about it.”
        p.inline-nav
          span.next.toSlide data-index='2' Next

div.slide#slide2 data-anchor="slide2"
  div.content.center.width-800
    div.content-centerer
      div.content-padder
        p.dropcap
          |When students come to his studio, they start with a lesson in
            Romanian history and identity. "First I tell them a lot of the essential
            aspects of the Cucuteni tradition, the ABCs of this ancient culture.” He
            explains "how it all started, and the fact that compared to us, people in those
            times had a closer relationship with the earth, the air and the water, the
            primary elements.”
        p
          |But Moldovan doesn't simply make pottery in an ancient tradition; he also uses
            that tradition as an inspiration for strikingly modern pottery and sculptures.
            He fuses metal, often sharp spikes or nails, with traditional forms to create
            works of art that play off the contrasts between the materials. In addition, he
            creates large sculptures of the chisels and other tools used by Neolithic
            potters. It's a way of celebrating what Moldovan sees as a fundamental
            connection between Romanians and clay.
        p
          |"It is very interesting that even nowadays people build houses made of wood and
            clay,” he says. "This is a strong relationship between our part of the world
            and those two materials.”
        p
          |His work is also an effort to preserve techniques that led to pottery of
            enduring beauty. "I think it is essential for people to learn how to mold and
            paint in this way because the objects created 5,000-6,000 years BC were
            outstanding,” Moldovan says.
        p
          |"Such vessels live on and can, without doubt, be exhibited |in any museum in the
            world and at any level. These objects will last forever.”
        p.inline-nav
          span.next.toSlide data-index='3' Next

div.slide#slide3 data-anchor="slide3"
  div.flowplayer.is-splash.minimalist
    video preload="none" poster="/videos/chapter5.jpg"
      source type="video/webm" src="#{@cloudfront_url}/videos/chapter5.webm"
      source type="video/mp4" src="#{@cloudfront_url}/videos/chapter5.mp4"
