div.slide#slide1 data-anchor="slide1"
  div.content.width-40
    div.content-centerer
      div.content-padder
        div.title
          h2 Ion Ghinoiu:
          h3 Mapping a nation's soul
        p
          |In a small, 4th-floor, walk-up office in a late nineteenth century mansion that
            looks as though it last got a fresh coat of paint during the Communist era, Ion
            Ghinoiu has been quietly toiling away for more than 45 years on what could be
            considered a map of Romanian identity.
        p
          |Ghinoiu is one of several scholars toiling on a massive five-volume
            Ethnographic Atlas of Romania, an almost unbelievably comprehensive look at
            enduring customs and folklore of his native country. The atlases include maps
            recording the evolution of local traditions, beliefs and practices. To collect
            the information starting in the 1970s, Ghinoiu and numerous colleagues
            interviewed 18,000 rural Romanians in 536 villages across the country.

div.slide#slide2 data-anchor="slide2"
  div.content.offset-5.width-35
    div.content-centerer
      div.content-padder
        p.dropcap
          |Having spent so many years bent over the records he and his
            colleagues compiled, Ghinoiu's eyesight is nearly gone. He has to hold pages
            within inches of his eyes to bring them into focus. Still, decades of
            painstaking research have helped him to see Romanian history and culture as
            clearly as anyone.
        p
          |"Clay appears throughout these volumes of the Atlas,” Ghinoiu explains to me,
            his hand resting on the thick volumes.
        p
          |Born of a peasant family in a small Wallachian village, Ghinoiu recounts a
            childhood memory of an annual tradition known as Old Men of Summer, when people
            gave away pots filled with water or food as a tribute to the departed. In such
            practices, he believes, a spiritual Romanian connection to clay endures in
            countless ways.
        p
          |"Even today, there is a belief that if a dying person is laid on clay, his
            passing to the other world will be easier,” he adds. "Also, women used to give
            birth on clay floors, or placed clay on their womb to make it easier. During
            their pregnancy they would often chew some small pieces of baked clay to ease
            the pain.”

div.slide#slide3 data-anchor="slide3"
  div.content.width-30
    div.content-centerer
      div.content-padder
        p.dropcap
          |As we talk, Ghinoiu tells me about the universality of symbols on
            the early pottery. The spiral of life leading into eternity is widespread, as
            are other geometric forms. One sees it repeated throughout much of the
            prehistoric world. In such ways he sees connections with other cultures in the
            region and beyond.
        p
          |In fact, he believes the earliest Romanians played a formative role on the
            European continent. If so, the knowledge he has kept alive through his research
            goes beyond Romania to provide Europe with a sense of its own roots.
        p
          |"Here we have the civilization on the Danube going back millennia |before the
            wider development of the ancient Greco-Roman one,” he says of the influence of
            the earliest clay cultures. "This is the European identity.”

div.slide#slide4 data-anchor="slide4"
  div.flowplayer.is-splash.minimalist
    video preload="none" poster="/videos/chapter6.jpg"
      source type="video/webm" src="#{@cloudfront_url}/videos/chapter6.webm"
      source type="video/mp4" src="#{@cloudfront_url}/videos/chapter6.mp4"
