div.slide#slide1 data-anchor="slide1"
  div.content.width-40
    div.content-centerer
      div.content-padder
        div.title
          h2 Georghe Magopat:
          h3 Maker and Merchant
        p
          |Keeping knowledge alive for knowledge's sake is noble, but for traditional
            skills to survive, they have to make sense on a practical level. They have to
            provide a living for those who practice them. Gheorghe Magopat and his family
            have found one way to make that happen.
        p
          |He too works in Marginea, not too far from Pascaniuc. Once it was a thriving
            center of pottery, a legacy apparent at the town's entrance where the huge
            sculpture of a black pitcher welcomes you. Today only two workshops survive.
            But while Pascaniuc works in the back of his house on a quiet lane, Magopat's
            establishment sits on a well-traveled main road, with large signs and a
            billowing banner advertising its presence.

div.slide#slide2 data-anchor="slide2"
  div.content.offset-5.width-35
    div.content-centerer
      div.content-padder
        p.dropcap
          |Tour buses packed with foreign tourists arrive frequently to see
            him, his son, son-in-law and two additional workers fashioning pots in his
            long, well-lighted workshop. Along lengthy wooden shelves, multiple copies of
            pots and vases await a move to the kiln out back. Afterward, I follow visitors
            drifting to not one, but two, gift shops displaying ceramics of all kinds, both
            traditional and more varied in style. The latter are garishly decorated,
            desperately trying to captivate tourists' eyes and pocketbooks.
        p
          |Magopat's willingness to adapt to the demands of today's marketplace allows his
            shop to support an extended family, but it also provides him the opportunity to
            keep alive a unique ‘black' pottery tradition.
        p
          |"Black ceramics from our town dates back around 300 to 350 years,” he tells me,
            explaining it was first created by accident, a story he clearly enjoys telling.
            It happened when a potter's earthen kiln collapsed after a heavy rain. The
            potter thought everything was ruined, but when he began building a new kiln on
            the spot, he discovered pots that had turned a glossy coal black.

div.slide#slide3 data-anchor="slide3"
  div.content.offset-5.width-35
    div.content-centerer
      div.content-padder
        p.dropcap
          |"There was some wood left in the oven, which continued to burn after
            the earth fell over the pots. However, there was baking without oxygen, so a
            lot of smoke came out, and the burning hot pots immediately absorbed it,”
            Magopat recounts. "Potters from Marginea have been making black ceramics from
            that moment on.”
        p
          |Much like Pascaniuc, Magopat's large workshop shop makes traditional pottery
            many Romanians use regularly. The most popular is a covered clay casserole dish
            used to cook "sarmale” or meat-stuffed cabbage rolls.
        p
          |"There are two types of objects which have been the same since always,” he
            stresses, "the sarmale and milk pots.”  Packed in boxes printed with a message
            reminding buyers that their shape is two millennia-old, the sarmale pots remain
            among his most popular items. They sell especially well during the holiday
            seasons when families gather to celebrate.
        p
          |His family has been making pottery now for five generations, and he hopes his
            grandson will be able to continue the tradition. "Unfortunately, out of 50-60
            families that were practicing black pottery when I was a kid, there are only
            two left today,” he says. "I don't want to show a lack of modesty, but I have
            worked hard and done my best so that this craft should not disappear.”

div.slide#slide4 data-anchor="slide4"
  div.flowplayer.is-splash.minimalist
    video preload="none" poster="/videos/chapter4.jpg"
      source type="video/webm" src="#{@cloudfront_url}/videos/chapter4.webm"
      source type="video/mp4" src="#{@cloudfront_url}/videos/chapter4.mp4"
