body {
  font-family: "calluna", serif;
  font-size: 18px;
  margin: 0; }

h1, h2, h3 {
  font-family: "proxima-nova", sans-serif; }

p {
  margin-top: 0;
  line-height: 1.4em; }
  p.dropcap:first-letter {
    float: left;
    font-size: 3.01em;
    line-height: 0.6em;
    padding: 7px 5px 0px 0;
    text-transform: uppercase; }

span.dropcap {
  float: left;
  font-size: 3.01em;
  line-height: 0.6em;
  padding: 7px 5px 0px 0;
  text-transform: uppercase; }

div.navigation {
  background: #111111;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
  z-index: 1000; }
  div.navigation #menu {
    float: right; }
  div.navigation h1 {
    font-family: "calluna", serif;
    font-size: 1.4em;
    line-height: 60px;
    margin: 0;
    padding-left: 2em;
    text-transform: uppercase; }
    div.navigation h1 a {
      color: #fafafa;
      text-decoration: none; }
  div.navigation ul {
    margin: 0;
    padding-right: 2em; }
  div.navigation li {
    display: inline; }
    div.navigation li.active a {
      color: #99d8de; }
    div.navigation li a {
      color: #fafafa;
      display: inline-block;
      font-size: 1.3em;
      line-height: 60px;
      text-decoration: none; }
      div.navigation li a:after {
        content: "-";
        margin-left: 5px; }
      div.navigation li a:hover {
        color: #99d8de; }
        div.navigation li a:hover:after {
          color: #fafafa; }
      div.navigation li a.chapter9:after {
        content: ""; }

div.content {
  background: white; }
  div.content.center {
    margin: 0 auto; }
  div.content.width-700 {
    max-width: 700px; }
  div.content.width-800 {
    max-width: 800px; }
  div.content.offset-1 {
    margin-left: 1%; }
  div.content.offset-2 {
    margin-left: 2%; }
  div.content.offset-3 {
    margin-left: 3%; }
  div.content.offset-4 {
    margin-left: 4%; }
  div.content.offset-5 {
    margin-left: 5%; }
  div.content.offset-6 {
    margin-left: 6%; }
  div.content.offset-7 {
    margin-left: 7%; }
  div.content.offset-8 {
    margin-left: 8%; }
  div.content.offset-9 {
    margin-left: 9%; }
  div.content.offset-10 {
    margin-left: 10%; }
  div.content.offset-11 {
    margin-left: 11%; }
  div.content.offset-12 {
    margin-left: 12%; }
  div.content.offset-13 {
    margin-left: 13%; }
  div.content.offset-14 {
    margin-left: 14%; }
  div.content.offset-15 {
    margin-left: 15%; }
  div.content.offset-16 {
    margin-left: 16%; }
  div.content.offset-17 {
    margin-left: 17%; }
  div.content.offset-18 {
    margin-left: 18%; }
  div.content.offset-19 {
    margin-left: 19%; }
  div.content.offset-20 {
    margin-left: 20%; }
  div.content.offset-21 {
    margin-left: 21%; }
  div.content.offset-22 {
    margin-left: 22%; }
  div.content.offset-23 {
    margin-left: 23%; }
  div.content.offset-24 {
    margin-left: 24%; }
  div.content.offset-25 {
    margin-left: 25%; }
  div.content.offset-26 {
    margin-left: 26%; }
  div.content.offset-27 {
    margin-left: 27%; }
  div.content.offset-28 {
    margin-left: 28%; }
  div.content.offset-29 {
    margin-left: 29%; }
  div.content.offset-30 {
    margin-left: 30%; }
  div.content.offset-31 {
    margin-left: 31%; }
  div.content.offset-32 {
    margin-left: 32%; }
  div.content.offset-33 {
    margin-left: 33%; }
  div.content.offset-34 {
    margin-left: 34%; }
  div.content.offset-35 {
    margin-left: 35%; }
  div.content.offset-36 {
    margin-left: 36%; }
  div.content.offset-37 {
    margin-left: 37%; }
  div.content.offset-38 {
    margin-left: 38%; }
  div.content.offset-39 {
    margin-left: 39%; }
  div.content.offset-40 {
    margin-left: 40%; }
  div.content.offset-41 {
    margin-left: 41%; }
  div.content.offset-42 {
    margin-left: 42%; }
  div.content.offset-43 {
    margin-left: 43%; }
  div.content.offset-44 {
    margin-left: 44%; }
  div.content.offset-45 {
    margin-left: 45%; }
  div.content.offset-46 {
    margin-left: 46%; }
  div.content.offset-47 {
    margin-left: 47%; }
  div.content.offset-48 {
    margin-left: 48%; }
  div.content.offset-49 {
    margin-left: 49%; }
  div.content.offset-50 {
    margin-left: 50%; }
  div.content.offset-51 {
    margin-left: 51%; }
  div.content.offset-52 {
    margin-left: 52%; }
  div.content.offset-53 {
    margin-left: 53%; }
  div.content.offset-54 {
    margin-left: 54%; }
  div.content.offset-55 {
    margin-left: 55%; }
  div.content.offset-56 {
    margin-left: 56%; }
  div.content.offset-57 {
    margin-left: 57%; }
  div.content.offset-58 {
    margin-left: 58%; }
  div.content.offset-59 {
    margin-left: 59%; }
  div.content.offset-60 {
    margin-left: 60%; }
  div.content.offset-61 {
    margin-left: 61%; }
  div.content.offset-62 {
    margin-left: 62%; }
  div.content.offset-63 {
    margin-left: 63%; }
  div.content.offset-64 {
    margin-left: 64%; }
  div.content.offset-65 {
    margin-left: 65%; }
  div.content.width-30 {
    max-width: 30%; }
  div.content.width-31 {
    max-width: 31%; }
  div.content.width-32 {
    max-width: 32%; }
  div.content.width-33 {
    max-width: 33%; }
  div.content.width-34 {
    max-width: 34%; }
  div.content.width-35 {
    max-width: 35%; }
  div.content.width-36 {
    max-width: 36%; }
  div.content.width-37 {
    max-width: 37%; }
  div.content.width-38 {
    max-width: 38%; }
  div.content.width-39 {
    max-width: 39%; }
  div.content.width-40 {
    max-width: 40%; }
  div.content.width-41 {
    max-width: 41%; }
  div.content.width-42 {
    max-width: 42%; }
  div.content.width-43 {
    max-width: 43%; }
  div.content.width-44 {
    max-width: 44%; }
  div.content.width-45 {
    max-width: 45%; }
  div.content.width-46 {
    max-width: 46%; }
  div.content.width-47 {
    max-width: 47%; }
  div.content.width-48 {
    max-width: 48%; }
  div.content.width-49 {
    max-width: 49%; }
  div.content.width-50 {
    max-width: 50%; }
  div.content.width-51 {
    max-width: 51%; }
  div.content.width-52 {
    max-width: 52%; }
  div.content.width-53 {
    max-width: 53%; }
  div.content.width-54 {
    max-width: 54%; }
  div.content.width-55 {
    max-width: 55%; }
  div.content.width-56 {
    max-width: 56%; }
  div.content.width-57 {
    max-width: 57%; }
  div.content.width-58 {
    max-width: 58%; }
  div.content.width-59 {
    max-width: 59%; }
  div.content.width-60 {
    max-width: 60%; }
  div.content.width-61 {
    max-width: 61%; }
  div.content.width-62 {
    max-width: 62%; }
  div.content.width-63 {
    max-width: 63%; }
  div.content.width-64 {
    max-width: 64%; }
  div.content.width-65 {
    max-width: 65%; }
  div.content.width-66 {
    max-width: 66%; }
  div.content.width-67 {
    max-width: 67%; }
  div.content.width-68 {
    max-width: 68%; }
  div.content.width-69 {
    max-width: 69%; }
  div.content.width-70 {
    max-width: 70%; }

div.content-centerer {
  display: table-cell;
  vertical-align: middle; }

div.content-padder {
  padding: 60px 3em 0 3em; }

div.slide.video {
  background: #111111; }

div.title {
  border-bottom: 1px solid #111111;
  margin-bottom: 1em;
  padding-bottom: 5px; }
  div.title h1 {
    font-size: 2.4em; }
  div.title h1, div.title h2, div.title h3 {
    margin: 0;
    text-transform: uppercase; }
  div.title h3 {
    font-weight: normal;
    font-size: 1.3em; }

p.title-credits {
  font-family: "proxima-nova", sans-serif;
  font-size: 0.85em;
  margin-top: -0.5em;
  margin-bottom: 2em; }

#section0 {
  background: url("/images/chapter0.jpg") no-repeat center center fixed;
  background-size: cover; }

#section2 {
  background: url("/images/chapter2/1.jpg") no-repeat center center fixed;
  background-size: cover; }

#section3 #slide1 {
  background: url("/images/chapter3/1.jpg") no-repeat center center fixed;
  background-size: cover; }

#section3 #slide2 {
  background: url("/images/chapter3/2.jpg") no-repeat center center fixed;
  background-size: cover; }

#section3 #slide3 {
  background: url("/images/chapter3/3.jpg") no-repeat center center fixed;
  background-size: cover; }

#section4 #slide1 {
  background: url("/images/chapter4/1.jpg") no-repeat center center fixed;
  background-size: cover; }

#section4 #slide2 {
  background: url("/images/chapter4/2.jpg") no-repeat center center fixed;
  background-size: cover; }

#section4 #slide3 {
  background: url("/images/chapter4/3.jpg") no-repeat center center fixed;
  background-size: cover; }

#section5 #slide1 {
  background: url("/images/chapter5/1.jpg") no-repeat center center fixed;
  background-size: cover; }

#section5 #slide2 {
  background: url("/images/chapter5/2.jpg") no-repeat center center fixed;
  background-size: cover; }

#section5 #slide3 {
  background: url("/images/chapter5/3.jpg") no-repeat center center fixed;
  background-size: cover; }

#section6 #slide1 {
  background: url("/images/chapter6/1.jpg") no-repeat center center fixed;
  background-size: cover; }

#section6 #slide2 {
  background: url("/images/chapter6/2.jpg") no-repeat center center fixed;
  background-size: cover; }

#section6 #slide3 {
  background: url("/images/chapter6/3.jpg") no-repeat center center fixed;
  background-size: cover; }

#section7 #slide1 {
  background: url("/images/chapter7/1.jpg") no-repeat center center fixed;
  background-size: cover; }

#section7 #slide2 {
  background: url("/images/chapter7/2.jpg") no-repeat center center fixed;
  background-size: cover; }

#section7 #slide3 {
  background: url("/images/chapter7/3.jpg") no-repeat center center fixed;
  background-size: cover; }

#section8 #slide1 {
  background: url("/images/chapter8/1.jpg") no-repeat center center fixed;
  background-size: cover; }

#section8 #slide2 {
  background: url("/images/chapter8/2.jpg") no-repeat center center fixed;
  background-size: cover; }

#section8 #slide3 {
  background: url("/images/chapter8/3.jpg") no-repeat center center fixed;
  background-size: cover; }

#section5 #slide2,
#section6 #slide3 {
  background: none; }

#section3 #slide4,
#section4 #slide4,
#section5 #slide3,
#section6 #slide4,
#section7 #slide4,
#section8 #slide4 {
  background: black; }

#intro-arrow {
  color: rgba(255, 255, 255, 0.8);
  display: none;
  font-size: 8em;
  line-height: 1em;
  position: absolute;
  bottom: 0;
  right: 50%; }

.controlArrow.prev {
  border-right-color: rgba(210, 210, 210, 0.7) !important;
  z-index: 9999; }
.controlArrow.next {
  border-left-color: rgba(210, 210, 210, 0.7) !important;
  z-index: 9999; }

.flowplayer a.fp-embed,
.flowplayer a.fp-fullscreen {
  display: none; }
