div.section.section3
  div.content
    p
      |Trohari shows me several pieces from the museum's priceless trove to
        further my understanding of both Romania's past and its present. During his
        career, he has spent many weeks on archeological digs, where he made it a point
        of patiently sharing the history of the excavated pottery with local villagers.
        Often he saw a living connection in clay between past and present Romanian
        generations in ancestral objects still on the shelves in the homes of people he
        visited.
    p
      |His favorite piece in the museum's collection is a 2,000-year-old Dacian vase
        that he discovered shattered, His wife, a ceramics restorer, lovingly put it
        back together. The vase, in effect, became a work of both his family's and an
        anonymous ancient potter, symbolizing the bond that binds many to their clay
        culture origins.
    p
      |Even after all these years, Trohari explains to me, as he picks up the ancient
        pot: "The heart beats faster. I immediately think of the smell the clay and I
        smell the time of he Geato-Dacians.  It's a historic air and a history which
        continues today.”
