div.section.section2
  div.content
    p
      |There's an ingenious small clay cooking stove with two small pots
        designed to be fitted to burner openings on the top. Another catches my
        attention, a strangely fashioned pitcher that still feels alive with the
        imagination of its creator; and a lidded storage vessel that would be useful in
        any kitchen nowadays.
    p
      |I'm astounded to discover that some of the oldest pots may even have led to the
        earliest smelting of metal. This would mean that pottery-making played a
        central in the opening the door to the iron-age. This science-based theory is
        based on the high degree of metallic elements in the clay, which would melted
        into formable material.
