div.section.section1
  div.content
    h1 George Trohari
    h4 Collector of the past
    p
      |In Bucharest, Romania's capital, I was introduced to George Trohari, already
        retired for five years from a 30-year career as an archeologist with the
        National Museum of Romania, an elegant columned neoclassical building in the
        old and recently revitalized old city center.
    p
      |Every working day he still returns to the museum for a few hours. Regularly, he
        hikes down a long hallway in the rear of the building, up a balky elevator, to
        a dimly lit, cavernous room. Here, his dedication becomes clear. On wooden
        shelves are rows upon rows of priceless artifacts from the past. Clay pottery
        from a variety of ancient cultures, including Cucuteni and Dacian, spans more
        than 8,000 years of history. As I survey the scene, I'm stunned by countless
        shelves of world-class Neolithic pottery, much more than can be displayed.
    p
      |To the scholars who work in the museum, the shelves are a living timeline of
        Romanian and early European civilization. I'm amazed at how practical many of
        the pieces are. They may be ancient, but they remain starkly contemporary in
        utility.
