div.section.section3
  div.content
    p
      |On this particular summer afternoon in Bucharest, Dumitrescu,
        elegantly dressed in a French suit, lingered over favorite pieces of his
        collection on exhibit at the city's museum. He described the still vibrant
        painted figures on funerary vases – snakes and wolves, goats and deer,
        creatures that clearly held spiritual meaning for Neolithic culture – and he
        pointed out the familiar and ubiquitous white spiral of life, "a symbol that is
        seen always, everywhere around the world.” He also pointed to designs that show
        up in later Persian pottery, possible evidence of the interconnectedness
        between the earliest human civilizations.
    p
      |Thanks to Dumitrescu's passion for clay pottery -especially Cucuteni -
        thousands of people can contemplate the enduring power and mystery of this
        ancient work. It's knowledge keeping as an act of public generosity, yet with
        an emotional cost.
    p
      |"I see these same pieces in catalogues of various exhibits,” he mentions
        nostalgically. "It touches my heart. But I miss them. It's like someone in the
        family who is no longer at home.”
