div.section.section1
  div.content
    h1 Romeo Dumitrescu
    h4 A 'lightning' spark
    p
      |There was a final insight I needed. The record of ancient knowledge is much
        like pottery itself. Over time, it can become broken, scattered, lost. To
        understand and appreciate it, we need individuals willing to seek out ancient
        pieces of the past and to see that they are saved for later generations. The
        more that are unearthed from the past, the greater the knowledge we carry with
        us into the future.
    p
      |This is how I found and met Romeo Dumitrescu, a doctor and successful
        businessman in Bucharest. He is an exceptional collector of Cucuteni pottery.
        At one time a collector of paintings, he came across his first piece of
        7,000-year-old Cucuteni pottery and found his true passion.
    p
      |"The first time I saw Cucuteni vases was only 14 years ago,” Dumitrescu
        recounted to me when me met in a large turn-of-the-century mansion restored
        into the City of Bucharest's official museum.
    p
      |"It was a lightning bolt.”
