div.section.section1
  div.content
    h1 A Culture Built on Clay
    p
      |In Romania I discovered the nation's very identity entrenched in clay. The
        country is sometimes said to have a "clay and wood” culture. These two
        materials have long been central to its history. Before the rise of the Greeks
        or the Romans or even the Egyptian civilizations, the earliest Romanians were
        making sophisticated pottery.
    p
      |Shards of pots have been found at Neolithic sites more than 8,000 years old.
        The later Cucuteni culture, which existed in an area overlapping northern
        Romania and the Ukraine from about 4,800 BC to 3,000 BC, crafted practical and
        ceremonial ceramics that still startle with their beauty. The Dacians, who
        inhabited Romania around the time of Rome, created elegantly proportioned clay
        vessels.
    p
      |The traditions of Romanian pottery may be ancient, but they endure into the
        present. The continuing connection between man and clay reveals itself in
        countless ways, not just the use of the pottery itself, but in folk beliefs and
        remedies connected to clay. What I saw in rural Romanians was a way of life
        still deeply rooted in an attachment to the very soil of the country's  rugged,
        forested mountains and flat plains.
