div.section.section3
  div.content.top.right-5.width-40
    p
      |As we talk, Ghinoiu tells me about the universality of symbols on
        the early pottery. The spiral of life leading into eternity is widespread, as
        are other geometric forms. One sees it repeated throughout much of the
        prehistoric world. In such ways he sees connections with other cultures in the
        region and beyond.
    p
      |In fact, he believes the earliest Romanians played a formative role on the
        European continent. If so, the knowledge he has kept alive through his research
        goes beyond Romania to provide Europe with a sense of its own roots.
    p
      |"Here we have the civilization on the Danube going back millennia |before the
        wider development of the ancient Greco-Roman one,” he says of the influence of
        the earliest clay cultures. "This is the European identity.”
