div.section.section2
  div.content.top.right-5.width-40
    p
      |Having spent so many years bent over the records he and his
        colleagues compiled, Ghinoiu's eyesight is nearly gone. He has to hold pages
        within inches of his eyes to bring them into focus. Still, decades of
        painstaking research have helped him to see Romanian history and culture as
        clearly as anyone.
    p
      |"Clay appears throughout these volumes of the Atlas,” Ghinoiu explains to me,
        his hand resting on the thick volumes.
    p
      |Born of a peasant family in a small Wallachian village, Ghinoiu recounts a
        childhood memory of an annual tradition known as Old Men of Summer, when people
        gave away pots filled with water or food as a tribute to the departed. In such
        practices, he believes, a spiritual Romanian connection to clay endures in
        countless ways.
    p
      |"Even today, there is a belief that if a dying person is laid on clay, his
        passing to the other world will be easier,” he adds. "Also, women used to give
        birth on clay floors, or placed clay on their womb to make it easier. During
        their pregnancy they would often chew some small pieces of baked clay to ease
        the pain.”
