div.section.section2
  div.content.top.right-5.width-40
    p
      |When students come to his studio, they start with a lesson in
        Romanian history and identity. "First I tell them a lot of the essential
        aspects of the Cucuteni tradition, the ABCs of this ancient culture.” He
        explains "how it all started, and the fact that compared to us, people in those
        times had a closer relationship with the earth, the air and the water, the
        primary elements.”
    p
      |But Moldovan doesn't simply make pottery in an ancient tradition; he also uses
        that tradition as an inspiration for strikingly modern pottery and sculptures.
        He fuses metal, often sharp spikes or nails, with traditional forms to create
        works of art that play off the contrasts between the materials. In addition, he
        creates large sculptures of the chisels and other tools used by Neolithic
        potters. It's a way of celebrating what Moldovan sees as a fundamental
        connection between Romanians and clay.
    p
      |"It is very interesting that even nowadays people build houses made of wood and
        clay,” he says. "This is a strong relationship between our part of the world
        and those two materials.”
    p
      |His work is also an effort to preserve techniques that led to pottery of
        enduring beauty. "I think it is essential for people to learn how to mold and
        paint in this way because the objects created 5,000-6,000 years BC were
        outstanding,” Moldovan says.
    p
      |"Such vessels live on and can, without doubt, be exhibited |in any museum in the
        world and at any level. These objects will last forever.”
