div.section.section1
  div.content
    h1 Nicolae Moldovan
    h4 The old inspires the new
    p
      |The older, nondescript one-story recycled building where Nicolae Moldovan keeps
        his studio stands in the shadow of a mammoth Communist-era apartment block in
        Bucharest. It's somehow an appropriate setting.  In Moldovan's work, the
        prehistoric and the modern co-exist in a way that brings new life to both.
    p
      |He tells me of his devotion to the Cucuteni method of making pots. Like those
        ancient potters, he doesn't even use a potter's wheel, fashioning each piece
        solely by hand.
    p
      |"I have been captivated by |the Cucuteni culture and the technique that was used
        to make this kind of pottery back in Neolithic times, since I was a student,”
        he says. "Feeling the clay in your hands is very important; this is what I
        enjoyed the most about it.”
