div.section.section3
  div.content.top.left-5.width-40
    p
      |It's a cloudy summer day as Pascaniuc demonstrates age-old
        techniques, passed down for generations, that allow him to make the
        time-honored designs Romanians still find useful in everyday life.
    p
      |"Now I'm making a pot we call ‘Old Lady,'” he explains, quickly shaping a block
        of clay, all the while spinning the potter's wheel with his bare feet.  He
        raises the sides and widens the opening with movements so practiced they seem
        nearly unconscious.
    p
      |"People bake cozonac (a traditional Romanian cake) on it.” The design, he
        explains, bakes very hot in the middle and creates a cavity in the cake. "When
        it comes out of the oven, it has a hole in it, and you can put (painted) eggs
        in it and bring it to church for Easter blessings.”
    p
      |Pascaniuc works alone and lives modestly with his wife in their cottage
        surrounded by vegetable fields and a small grove of fruit trees. Through both
        his dedication to his craft and in his determination to see that it remains a
        part of everyday life, he is the embodiment of a knowledge keeper.
    p
      |"I've known this clay for 76 |years,” he says, again with evident pride.
        "People still buy these pots.”
