div.section.section2
  div.content.top.right-5.width-40
    p
      |With his aged and gnarled hands he skillfully shapes a pot before my
        eyes. His pottery is unadorned. No painting, no colors, purely functional.
        Everything has a practical purpose. As he speaks softly while working, it's
        clear that to him this is the measure of something that will last.
    p
      |"It's been going on for a long time,” he says. "People used to eat from clay
        vessels before iron was known. I don't really know all the history behind it,
        but it's an old tradition, and I want to keep it as I learned it. I am working
        in the same way I used to 50 years ago.”
    p
      |He first learned the art of pottery from his father, who learned it from his
        and on and on.
    p
      |"For many generations my forefathers used to make pots,” he says.
    p
      |Each passed down both the necessary skills and the essential shapes he makes in
        his humble workshop. As I watch, he makes it look easy, but it clearly takes
        great skill to work the clay into the right shape, to shape a pot so it will be
        sturdy, appealing and useful, and to be fired in his backyard kiln so the pots
        bake without shattering.
