div.section.section1
  div.content.top.right-5.width-40
    h1 Arcade Pascaniuc
    h4 The last traditionalist
    p
      |Most mornings, Arcade Pascaniuc's days begin as they have for the last 69
        years, since he was seven years old, by keeping an 8,000-year tradition alive
        with his bare feet.
    p
      |In the back of his modest cottage in the remote northern Moldavian village of
        Marginea, he kneads clay with his feet until it is soft enough to be
        transferred to his potter's wheel. There, I watched him fashion it into pots,
        pitchers and cups. He works alone, and unless you stumbled across the small,
        rusted sign advertising his shop on the narrow lane where he lives, you would
        never know he was in business.
    p
      |"The pots I make,” he tells me proudly as he works, "are for people to make
        use of in their homes, and not to set by their windows.”
