div.section.section3
  div.content
    p
      |"There was some wood left in the oven, which continued to burn after
        the earth fell over the pots. However, there was baking without oxygen, so a
        lot of smoke came out, and the burning hot pots immediately absorbed it,”
        Magopat recounts. "Potters from Marginea have been making black ceramics from
        that moment on.”
    p
      |Much like Pascaniuc, Magopat's large workshop shop makes traditional pottery
        many Romanians use regularly. The most popular is a covered clay casserole dish
        used to cook "sarmale” or meat-stuffed cabbage rolls.
    p
      |"There are two types of objects which have been the same since always,” he
        stresses, "the sarmale and milk pots.”  Packed in boxes printed with a message
        reminding buyers that their shape is two millennia-old, the sarmale pots remain
        among his most popular items. They sell especially well during the holiday
        seasons when families gather to celebrate.
    p
      |His family has been making pottery now for five generations, and he hopes his
        grandson will be able to continue the tradition. "Unfortunately, out of 50-60
        families that were practicing black pottery when I was a kid, there are only
        two left today,” he says. "I don't want to show a lack of modesty, but I have
        worked hard and done my best so that this craft should not disappear.”
