div.section.section2
  div.content
    p
      |Tour buses packed with foreign tourists arrive frequently to see
        him, his son, son-in-law and two additional workers fashioning pots in his
        long, well-lighted workshop. Along lengthy wooden shelves, multiple copies of
        pots and vases await a move to the kiln out back. Afterward, I follow visitors
        drifting to not one, but two, gift shops displaying ceramics of all kinds, both
        traditional and more varied in style. The latter are garishly decorated,
        desperately trying to captivate tourists' eyes and pocketbooks.
    p
      |Magopat's willingness to adapt to the demands of today's marketplace allows his
        shop to support an extended family, but it also provides him the opportunity to
        keep alive a unique ‘black' pottery tradition.
    p
      |"Black ceramics from our town dates back around 300 to 350 years,” he tells me,
        explaining it was first created by accident, a story he clearly enjoys telling.
        It happened when a potter's earthen kiln collapsed after a heavy rain. The
        potter thought everything was ruined, but when he began building a new kiln on
        the spot, he discovered pots that had turned a glossy coal black.
