div.section.section1
  div.content.top.right-5.width-40
    h1 Georghe Magopat
    h4 Maker and Merchant
    p
      |Keeping knowledge alive for knowledge's sake is noble, but for traditional
        skills to survive, they have to make sense on a practical level. They have to
        provide a living for those who practice them. Gheorghe Magopat and his family
        have found one way to make that happen.
    p
      |He too works in Marginea, not too far from Pascaniuc. Once it was a thriving
        center of pottery, a legacy apparent at the town's entrance where the huge
        sculpture of a black pitcher welcomes you. Today only two workshops survive.
        But while Pascaniuc works in the back of his house on a quiet lane, Magopat's
        establishment sits on a well-traveled main road, with large signs and a
        billowing banner advertising its presence.
